{% for targeted_dep in crate.targeted_deps %} + selects.with_or({
        (
{%- for platform_target in targeted_dep.platform_targets %}
            "@{{ rust_rules_workspace_name }}//rust/platform:{{platform_target}}",
{%- endfor %}
        ): [
{%- for dependency in targeted_dep.deps.dependencies %}
            "{{ dependency.buildable_target }}",
{%- endfor %}
        ],
        "//conditions:default": [],
    })
{%- endfor -%}